<div class="top-rated-movies">
  <% if @top_movies %>
    <ol>
      <% @top_movies.each do |movie| %>
        <li><%= link_to movie.title, user_movie_path(@user, movie.id) %> | Vote Average: <%= movie.vote_avg  %></li>
      <% end %>
    </ol>
  <% end %>
</div>
<div class= "search-movie">
<% if @search_movie %>
  <h5>Found Movies: </h5>
  <ol>
    <% @search_movie.each do |movie| %>
      <li><%= movie.title %> | Vote Average: <%= movie.vote_avg %> </li>
    <%end  %>
 <%end  %>
  <ol>
