<div class="top-rated-movies">
  <%= button_to "Top Rated Movies", "/users/#{@user.id}/discover", method: :get, params: {top_rated: 'top_rated'}  %>
  <% if @top_movies %>
  <ol>
    <% @top_movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ol>
  <% end %>
</div>
